<h1 mat-dialog-title>Remove Pigeon</h1>
<div mat-dialog-content>
  <div class="remove_warning">
    <img class="warning" src="../../assets/warning.png">
    <p>
      Are you sure you want to remove {{data.selectedPigeon.name}} <span *ngIf="data.selectedPigeon.bandNo">({{data.selectedPigeon.bandNo}})</span> from the database?
    </p>
  </div>
</div>

<div class="buttons">
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="'Removed'" (click)="removePigeon()" cdkFocusInitial>Remove</button>
  </div>
</div>

