mat-card {
  width: 90%;
  margin: 0 auto 0 auto;
}

.mat-card {
  box-shadow: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details {
  width: 100%;
  box-shadow: none;
}
.entry {
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.image {
  max-width: 180px;
}

.separator {
  background-color: lightgray;
  height: 40px;
  width: 1px
}
