<mat-card *ngIf="selectedPigeon">
  <div class="container">
    <div class="details">
      <div class="entry">
        <span>Colour: {{selectedPigeon.color}}</span>
      </div>
      <div class="entry">
        <span>Sex: {{selectedPigeon.sex}}</span>
      </div>
      <div class="entry">
        <span>Strain: {{selectedPigeon.strain}}</span>
      </div>
      <div class="entry">
        <span>Loft: {{selectedPigeon.loft}}</span>
      </div>
      <div class="entry">
        <span>Sire: {{selectedPigeon.sire}}</span>
      </div>
      <div class="entry">
        <span>Dam: {{selectedPigeon.dam}}</span>
      </div>
      <div class="entry">
        <span>Comments: {{selectedPigeon.comments}}</span>
      </div>
    </div>
    <div class="image">
      <img src="../../assets/Billy.jpg" alt="">
    </div>
  </div>
</mat-card>
