<mat-card>
  <div class="container">
    <div class="details">
      <div class="entry">
        <span>Colour: </span>
      </div>
      <div class="entry">
        <span>Sex: </span>
      </div>
      <div class="entry">
        <span>Strain: </span>
      </div>
      <div class="entry">
        <span>Loft: </span>
      </div>
      <div class="entry">
        <span>Sire: </span>
      </div>
      <div class="entry">
        <span>Dam: </span>
      </div>
      <div class="entry">
        <span>Comments: </span>
      </div>
    </div>
    <div class="image">
      <img src="../../assets/billy.jpg">
    </div>
  </div>
</mat-card>
