<h1 mat-dialog-title>Profile</h1>
<div mat-dialog-content>
<ng-container>
  <div class="container">
    <div class="details">
      <div class="entry">
        <span>Name: {{data.selectedPigeon.name}}</span>
      </div>
      <div class="entry">
        <span>Colour: {{data.selectedPigeon.color}}</span>
      </div>
      <div class="entry">
        <span>Sex: {{data.selectedPigeon.sex}}</span>
      </div>
      <div class="entry">
        <span>Strain: {{data.selectedPigeon.strain}}</span>
      </div>
      <div class="entry">
        <span>Loft: {{data.selectedPigeon.loft}}</span>
      </div>
      <div class="entry">
        <span>Sire: {{data.selectedPigeon.sire}}</span>
      </div>
      <div class="entry">
        <span>Dam: {{data.selectedPigeon.dam}}</span>
      </div>
      <div class="entry">
        <span>Comments: {{data.selectedPigeon.comments}}</span>
      </div>
    </div>
    <div class="image">
      <img src="../../assets/Billy.jpg" alt="">
    </div>
  </div>
</ng-container>
</div>
