<div class="form-row">
  <mat-form-field>
    <input matInput [(ngModel)]="pigeon.name" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="pigeon.bandNo" placeholder="Band Number" [formControl]="bandNo" required>
    <mat-error *ngIf="bandNo.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<div class="form-row">
  <mat-form-field>
    <input matInput [(ngModel)]="pigeon.color" placeholder="Colour">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="pigeon.sex" placeholder="Sex">
      <mat-option value="Cock">Cock</mat-option>
      <mat-option value="Hen">Hen</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="form-row">
  <mat-form-field>
    <input matInput [(ngModel)]="pigeon.strain" placeholder="Strain">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="pigeon.loft" placeholder="Loft">
  </mat-form-field>
</div>

<div class="form-row">
  <mat-form-field>
    <input matInput [(ngModel)]="pigeon.sire" placeholder="Sire">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="pigeon.dam" placeholder="Dam">
  </mat-form-field>
</div>

<div class="form-row">
  <mat-form-field>
    <textarea matInput [(ngModel)]="pigeon.comments" placeholder="Comments"></textarea>
  </mat-form-field>

  <ng-container *ngIf="formType === FormType.add; else updateImages">
    <div class="image-container">
      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <img id="preview" [src]="imageSrc || '../../assets/placeholder.gif'" alt="your image" />
      <button mat-button color="primary" (click)="fileInput.click()">Add an Image</button>
    </div>
  </ng-container>

  <ng-template #updateImages>
    <div class="image-container">
      <img id="currentImage" [src]="pigeon.carouselImages[0].url || '../../assets/placeholder.gif'" alt="" />
      <button mat-button color="primary" (click)="openImageCarousel()">Update Images</button>
    </div>
  </ng-template>

</div>
