.data-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.pigeon-table {
  width: 100%;
}

.pigeon-details {
  width: 50%;
  box-shadow: none;
}

table {
  width: 95%;
  margin: 0 auto 0 auto;
  box-shadow: none;
}

.pigeon:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.selected-pigeon {
  background-color: lightgrey;
}

.unselected-pigeon {
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: rgba(144, 195, 244, 0.12);
}

.mat-row:nth-child(odd).selected-pigeon{
  background-color: lightgrey;
}

.mat-row:nth-child(odd):hover{
  background-color: lightgrey;
  cursor: pointer;
}
