<app-nav-bar [selectedPigeon]="selectedPigeon"></app-nav-bar>
<div class="data-container">
  <div class="pigeon-table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="bandNo">
        <th mat-header-cell *matHeaderCellDef> Band no. </th>
        <td mat-cell *matCellDef="let pigeon"> {{pigeon.bandNo}}</td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
        <td mat-cell *matCellDef="let pigeon"> {{pigeon.year}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let pigeon"> {{pigeon.name}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr class="pigeon" mat-row *matRowDef="let selectedPigeon; columns: columnsToDisplay" (click)="select(selectedPigeon)"></tr>
    </table>
  </div>
  <div class="pigeon-details">
    <app-pigeon-details [selectedPigeon]="selectedPigeon"></app-pigeon-details>
  </div>
</div>

