.data-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.pigeon-table {
  width: 50%;
}

.pigeon-details {
  width: 50%;
  box-shadow: none;
}

table {
  width: 95%;
  margin: 0 auto 0 auto;
  box-shadow: none;
}

.pigeon:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.selected-pigeon {
  background-color: darkgrey;
}

.unselected-pigeon {
  background-color: white;
}
