@font-face {
  font-family: FatWandals;
  src: url(../../assets/fat_wandals/FatWandalsAlt_PERSONAL.ttf);
}

.container {
  background: black url("../../assets/pigeons.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

//.login-button {
//  position: absolute;
//  top: 400px;
//  right: calc(50vw - 22px);
//}

//@media only screen and (max-height: 600px and (max-width: 600px)) {
  //.login-button {
  //  position: absolute;
  //  top: 400px;
  //}
//}
//
//.login-header {
//  width: 100vw;
//  padding-top: 50px;
//  font-size: 12vw;
//  font-family: FatWandals;
//  color: rgba(255, 64, 129, 0.53);
//}
//
//@media only screen and (max-width: 900px) {
//  .login-header {
//    font-size: 90px;
//  }
//}
