.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
  position: fixed;
}

.option-container {
  text-align: center;
  width: 12.5vw;
  margin: auto;
}

.option-container:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.option {
  font-size: medium;
}

.icon {
  position:relative;
  top: 10px;
  height: 20px;
}
