<mat-toolbar>
  <div class="navbar">
    <div class="option-container" (click)="select('add')">
      <i class="material-icons icon">add</i><br>
      <span class="option">Add</span>
    </div>
    <div class="option-container" (click)="select('remove')">
      <i class="material-icons icon">remove</i><br>
      <span class="option">Remove</span>
    </div>
    <div class="option-container" (click)="select('edit')">
      <i class="material-icons icon">edit</i><br>
      <span class="option">Edit</span>
    </div>
    <div class="option-container">
      <img class="icon" src="../../assets/dove.svg"><br>
      <span class="option">Pedigree</span>
    </div>
    <div class="option-container">
      <img class="icon" src="../../assets/filter-results-button.svg"><br>
      <span class="option">Filter</span>
    </div>
    <div class="option-container">
      <i class="material-icons icon">build</i><br>
      <span class="option">Preferences</span>
    </div>
    <div class="option-container">
      <i class="material-icons icon">star</i><br>
      <span class="option">About</span>
    </div>
    <div class="option-container">
      <i class="material-icons icon">arrow_right_alt</i><br>
      <span class="option">Quit</span>
    </div>
  </div>
</mat-toolbar>
