.mat-toolbar {
  width: 100%;
  background-color: rgba(255, 64, 129, 0.53);
}

.logo {
  height: 25px;
}

.option {
  color: white;
}

.quit {
  position: absolute;
  right: calc(0vw + 25px)
}

.quit:hover {
  color: black;
  cursor: pointer;
}

.title {
  position: absolute;
  left: calc(0vw + 60px);
}

.title:hover {
  cursor: default;
}
