<h1 mat-dialog-title>{{data.selectedPigeon.name}}</h1>
<div mat-dialog-content>
  <div style="margin-bottom:25px">
    <div style="display:block;"
         [style.width]="carouselConfig.width">
      <slideshow #slideshow
                 [imageUrls]="iImages"
                 [height]="carouselConfig.height"
                 [arrowSize]="carouselConfig.arrowSize"
                 [showArrows]="carouselConfig.showArrows"
                 [disableSwiping]="carouselConfig.disableSwiping"
                 [autoPlay]="iImages.length > 1"
                 [stopAutoPlayOnSlide]="carouselConfig.stopAutoPlayOnSlide"
                 [backgroundSize]="carouselConfig.backgroundSize"
                 [backgroundPosition]="carouselConfig.backgroundPosition"
                 [backgroundRepeat]="carouselConfig.backgroundRepeat"
                 [showDots]="carouselConfig.showDots"
                 [dotColor]="carouselConfig.dotColor"
                 [showCaptions]="carouselConfig.showCaptions"
                 [captionColor]="carouselConfig.captionColor"
                 [captionBackground]="carouselConfig.captionBackground"
                 [lazyLoad]="carouselConfig.lazyLoad"
                 [hideOnNoSlides]="carouselConfig.hideOnNoSlides"
                 [fullscreen]="carouselConfig.fullscreen">
      </slideshow>
    </div>
  </div>

  <div class="button-container">
    <input style="display: none" type="file" (change)="addAnImage($event)" #fileInput>
    <button mat-button color="warn" (click)="exit()">Exit</button>
    <button mat-button color="primary" (click)="fileInput.click()" cdkFocusInitial>Add an Image</button>
    <button mat-button color="accent" [disabled]="!changesMade" (click)="saveImages()" cdkFocusInitial>Save Changes</button>
  </div>

</div>
