<h1 mat-dialog-title>{{data.selectedPigeon.name}}</h1>
<div mat-dialog-content>
  <div style="margin-bottom:25px">
    <div style="display:block;"
         [style.width]="width">
      <slideshow #slideshow
                 [imageUrls]="imageUrls"
                 [height]="height"
                 [minHeight]="minHeight"
                 [arrowSize]="arrowSize"
                 [showArrows]="showArrows"
                 [disableSwiping]="disableSwiping"
                 [autoPlay]="autoPlay"
                 [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
                 [debug]="debug"
                 [backgroundSize]="backgroundSize"
                 [backgroundPosition]="backgroundPosition"
                 [backgroundRepeat]="backgroundRepeat"
                 [showDots]="showDots"
                 [dotColor]="dotColor"
                 [showCaptions]="showCaptions"
                 [captionColor]="captionColor"
                 [captionBackground]="captionBackground"
                 [lazyLoad]="lazyLoad"
                 [hideOnNoSlides]="hideOnNoSlides"
                 [fullscreen]="fullscreen">
      </slideshow>
    </div>
  </div>

  <div class="buttons">
    <input style="display: none" type="file" (change)="addAnImage($event)" #fileInput>
    <button mat-flat-button color="accent" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="fileInput.click()" cdkFocusInitial>Add an Image</button>
  </div>

</div>
