#chart-container {
  width: 580px;
  text-align: center;
  margin: auto;
}

#selected-pigeon {
  width: 190px;
  background-color: rgba(144, 195, 244, 0.12);
  line-height: 60px;
  border: 1px solid #000;
  margin: auto;
}

#selected-pigeon p {
  display: block;
  height: 100%;
  color: #000;
  text-decoration: none;
}
