<h1 mat-dialog-title>{{data.selectedPigeon.name}}'s Pedigree</h1>

<div mat-dialog-content>

  <div id="chart-container">

    <div id="selected-pigeon"><p>{{data.selectedPigeon.name}}</p></div>

    <div id="line1"></div>
    <div id="line2"></div>
    <div id="line3"></div>
    <div id="line4"></div>

    <div id="parents-container">

      <div id="parent-sire"><p>SIRE</p></div>
      <div id="parent-dam"><p>DAM</p></div>

    </div>

  </div>

</div>
<button mat-button color="warn" (click)="exit()">Exit</button>
