<div mat-dialog-content style="text-align: center">
  <img style="width: 400px" [src]="data.image.url" alt="">
</div>

<mat-form-field class="example-full-width">
  <textarea matInput [(ngModel)]="data.image.caption" (change)="captionChanged=true"  placeholder="Caption">{{data.image.caption}}</textarea>
</mat-form-field>

<div class="button-container">
  <button mat-button color="primary" [mat-dialog-close]="{captionChanged: captionChanged}">Ok</button>
  <button mat-button color="accent" [mat-dialog-close]="{imageToDelete: data.image.url}">Delete Image</button>
</div>
